## Visual Studio
.vs/
bin/
obj/

## User-specific files
*.user
*.suo

## App settings (NO subir secretos)
appsettings.json
appsettings.Development.json
.RegistroVisitas/appsettings.json
.RegistroVisitas/appsettings.Development.json

## EF
*.db

## Logs
*.log