@{
    ViewData["Title"] = "Inicio";
}

<h1>Registro de Visitas</h1>
<p>La aplicación está funcionando correctamente.</p>

<a href="/Visitantes/Create">Registrar Visitante</a>

<br />

<a href="/Vigilancia/Vigilancia_visita">Pagina visitante</a>
